<?xml version="1.0"?>
<launch>

    <node pkg="ezw_ros_controllers" name="diff_drive_controller" type="diff_drive_controller"
        output="screen">
        <rosparam param="baseline_m">0.485</rosparam>
        <rosparam param="pub_freq_hz">50</rosparam>
        <rosparam param="left_config_file">"/opt/ezw/usr/etc/ezw-smc-core/swd_left_config.ini"</rosparam>
        <rosparam param="right_config_file">"/opt/ezw/usr/etc/ezw-smc-core/swd_right_config.ini"</rosparam>
        <rosparam param="watchdog_receive_ms">1000</rosparam>
        <rosparam param="control_mode">"Twist"</rosparam>
        <rosparam param="odom_frame">"odom"</rosparam>
        <rosparam param="base_link">"base_link"</rosparam>
        <rosparam param="ref_wheel">"Left"</rosparam>
    </node>

</launch>
