<?xml version="1.0"?>
<launch>

    <node pkg="swd_ros_controllers" name="swd_diff_drive_controller" type="swd_diff_drive_controller"
        output="screen">
        <rosparam param="baseline_m">0.485</rosparam>
        <rosparam param="pub_freq_hz">50</rosparam>
        <rosparam param="left_swd_config_file">"/opt/ezw/usr/etc/ezw-smc-core/swd_left_config.ini"</rosparam>
        <rosparam param="right_swd_config_file">"/opt/ezw/usr/etc/ezw-smc-core/swd_right_config.ini"</rosparam>
        <rosparam param="command_timeout_ms">500</rosparam>
        <rosparam param="control_mode">"Twist"</rosparam>
        <rosparam param="base_frame">"base_link"</rosparam>
        <rosparam param="odom_frame">"odom"</rosparam>
        <rosparam param="ref_wheel">"Left"</rosparam>
        <rosparam param="wheel_max_speed_rpm">95</rosparam>
        <rosparam param="wheel_safety_limited_speed_rpm">40</rosparam>
        <rosparam param="have_backward_sls">false</rosparam>
        <rosparam param="publish_odom">true</rosparam>
        <rosparam param="publish_tf">true</rosparam>
        <rosparam param="publish_safety_functions">true</rosparam>
    </node>

</launch>
